rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.admin == true;
    }

    match /user_photos/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /room_covers/{roomId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /reports/{reportId}/{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}
